/* Global */
[data-theme="claudiontheme"] {
  --main-color: #063c44;
  --first-color: #e6e7e8;
  --second-color: #ffffff;
  --third-color: #829da1;
  --fourth-color: #d1d3d4;
  --fifth-color: #808285;
  --sixth-color: #58595b;

  --primary: var(--main-color);
  --dt-primary-color: var(--main-color);
  --blue-avatar-bg: var(--main-color);
  --blue-avatar-color: var(--main-color);
  --blue: var(--main-color);

  --navbar-bg: var(--main-color);
  --fg-hover-color: var(--main-color);
  --card-bg: var(--second-color);
  --control-bg: var(--main-color);
  --control-bg-on-pink: var(--third-color);
}

/* Page Background */
[data-theme="claudiontheme"] .page-container,
[data-theme="claudiontheme"] .layout-main-section {
  background-color: var(--fourth-color);
  border: none !important;
}

[data-theme="claudiontheme"] .layout-main-section-wrapper {
  border: 1px solid var(--fourth-color);
}

/* Links */
[data-theme="claudiontheme"] ul li a {
  /* background-color: var(--main-color); */
  color: black !important;
}
[data-theme="claudiontheme"] ul li a:hover {
  background-color: var(--main-color);
  color: var(--second-color) !important;
}

/* Main Body */
[data-theme="claudiontheme"] body {
  font-size: 14px;
  background-color: var(--fourth-color);
}

/* [data-theme="claudiontheme2"] b:hover {
  color: var(--second-color);
  font-weight: 500;
} */
[data-theme="claudiontheme"] #awesomplete_list_1 li:hover a {
  color: var(--second-color) !important;
  background-color: var(--main-color);
}

[data-theme="claudiontheme"] a {
  color: var(--third-color);
  font-weight: 500;
}
[data-theme="claudiontheme"] a.form-follow.text-sm:hover {
  color: var(--main-color);
  font-weight: 500;
}

/* [data-theme="claudiontheme2"] a.nav-link:hover {
  color: var(--sixth-color);
  background-color: var(--main-color);
} */

[data-theme="claudiontheme"] a.ellipsis {
  color: var(--sixth-color);
}

[data-theme="claudiontheme"] span.ellipsis {
  color: black;
}
[data-theme="claudiontheme"] span.dropdown-text:hover {
  color: black;
}
[data-theme="claudiontheme"] span.filter-label {
  background-color: var(--second-color);
  color: var(--second-color);
}

[data-theme="claudiontheme"] span.frappe-timestamp {
  color: var(--main-color);
}
[data-theme="claudiontheme"] span.hidden-xs {
  color: var(--main-color);
}
[data-theme="claudiontheme"] span.menu-item-label {
  color: var(--main-color);
}
[data-theme="claudiontheme"] span.menu-item-label span {
  color: var(--main-color);
}
[data-theme="claudiontheme"] a.dropdown-item:hover {
  color: var(--second-color) !important;
}
[data-theme="claudiontheme"] .dropdown-item:hover {
  color: var(--second-color) !important;
}
[data-theme="claudiontheme"] a.dropdown-item:hover span.menu-item-label span,
[data-theme="claudiontheme"]
  a.dropdown-item:hover
  span.menu-item-label
  span
  .alt-underline {
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] li a.grey-link.dropdown-item {
  color: var(--main-color);
}

[data-theme="claudiontheme"] li a.grey-link.dropdown-item:hover {
  color: var(--second-color) !important;
  background-color: var(--third-color);
}

[data-theme="claudiontheme"] a.grey-link.dropdown-item kbd {
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 4px;
  padding: 2px 4px;
}

[data-theme="claudiontheme"] .btn-edit-workspace:hover span.hidden-xs {
  color: var(--main-color) !important;
}

[data-theme="claudiontheme"] .btn-new-workspace:hover span.hidden-xs {
  color: var(--main-color) !important;
}
[data-theme="claudiontheme"] button.btn-primary.primary-action span,
[data-theme="claudiontheme"]
  button.btn-primary.primary-action
  span
  .alt-underline {
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] span {
  /* color: #58595b; */
  color: var(--third-color);
}
[data-theme="claudiontheme"] span:hover {
  /* color: var(--second-color); */
  color: black;
  background-color: none !important;
}
[data-theme="claudiontheme"] span.ellipsis {
  color: black;
}

[data-theme="claudiontheme"] span.link-text {
  color: black;
}

[data-theme="claudiontheme"] span.link-option:hover {
  color: white;
}
[data-theme="claudiontheme"] span.sidebar-item-label {
  color: black;
}

[data-theme="claudiontheme"] .small,
small {
  font-size: 95%;
}

[data-theme="claudiontheme"] .h6.uppercase,
h6.uppercase {
  font-weight: 600;
  font-size: 11.5px;
}

[data-theme="claudiontheme"] .step-text,
[data-theme="claudiontheme"] .step-skip {
  color: var(--sixth-color);
}

/* Navigation Bar */
[data-theme="claudiontheme"] .standard-sidebar-section {
  background-color: var(--second-color);
}
[data-theme="claudiontheme"] span.section-title {
  color: black;
}

[data-theme="claudiontheme"] .standard-sidebar-item.selected {
  background: #638388;
}

[data-theme="claudiontheme"] .standard-sidebar-item.selected a {
  color: var(--second-color);
}

[data-theme="claudiontheme"] .standard-sidebar-item.selected a svg {
  fill: var(--second-color);
}

[data-theme="claudiontheme"] .standard-sidebar-item:hover {
  background-color: #6a8a8f;
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] .standard-sidebar-item:hover a,
[data-theme="claudiontheme"] .standard-sidebar-item:hover svg {
  color: var(--second-color) !important;
  fill: var(--second-color) !important;
}

[data-theme="claudiontheme"] .es-icon.icon-sm svg {
  fill: var(--second-color) !important;
  color: var(--second-color) !important;
  stroke: none;
}

[data-theme="claudiontheme"] .btn-default:hover svg.icon-xs {
  fill: var(--second-color) !important;
  color: var(--second-color) !important;
}

/* ************* */

/* Navbar */
[data-theme="claudiontheme"] .navbar {
  background-color: var(--main-color);
  border: none !important;
}

[data-theme="claudiontheme"] .navbar-nav > li > a {
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] .navbar-nav > li > a:hover {
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] .navbar-brand:hover {
  color: var(--fourth-color) !important;
}

/* Widgets */
[data-theme="claudiontheme"] .widget {
  background-color: var(--second-color);
  border-radius: 10px;
}

[data-theme="claudiontheme"]
  .widget.shortcut-widget-box
  .widget-head
  .widget-title
  i {
  color: var(--main-color);
}

[data-theme="claudiontheme"]
  .widget.shortcut-widget-box
  .widget-head
  .widget-title:hover
  span {
  color: var(--main-color) !important;
}

[data-theme="claudiontheme"] .widget-body .link-item:hover {
  color: var(--sixth-color);
  background: var(--third-color);
}

[data-theme="claudiontheme"] .widget.spacer {
  background-color: var(--fourth-color);
}

[data-theme="claudiontheme"] .h4 {
  color: var(--main-color) !important;
}

/* Sidebar */
[data-theme="claudiontheme"] .desk-sidebar .desk-sidebar-item {
  font-size: 13px;
  font-weight: 600;
  color: var(--second-color);
}

[data-theme="claudiontheme"] .layout-side-section {
  background-color: var(--second-color);
  font-size: 14px;
  border-radius: 10px;
}

[data-theme="claudiontheme"] .uppercase {
  color: var(--fifth-color);
}

[data-theme="claudiontheme"] .form-control {
  background-color: var(--first-color) !important;
}

[data-theme="claudiontheme"] .form-control::placeholder {
  color: var(--sixth-color) !important ;
  opacity: 1;
}
/* Dropdowns */
[data-theme="claudiontheme"] .dropdown-menu > li > a {
  font-size: 13px;
  color: var(--main-color) !important;
  font-weight: 500;
}
[data-theme="claudiontheme"] .dropdown-menu > li > a :hover {
  font-size: 13px;
  color: var(--second-color) !important;
  font-weight: 500;
}
[data-theme="claudiontheme"] .awesomplete > ul > li {
  color: #638388;
}

[data-theme="claudiontheme"] .awesomplete > ul > li:hover {
  background: #638388;
  color: var(--second-color) !important;
}

[data-theme="claudiontheme"] .awesomplete > ul > li:hover a {
  color: var(--second-color);
}

/* Page Heading */
[data-theme="claudiontheme"] .page-head {
  background-color: var(--third-color);
  border-bottom: none !important;
}

[data-theme="claudiontheme"] .page-title .title-text {
  color: var(--main-color);
  font-size: 22px;
}

[data-theme="claudiontheme"] .widget .widget-head .widget-title,
[data-theme="claudiontheme"] .section-head,
[data-theme="claudiontheme"] .comment-input-header {
  font-size: 14px;
  color: var(--main-color);

}

/* Buttons */
[data-theme="claudiontheme"] .btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

[data-theme="claudiontheme"] .btn-default {
  background-color: var(--fourth-color) !important;
  color: var(--main-color) !important;
}

[data-theme="claudiontheme"] .btn-default:hover,
[data-theme="claudiontheme"] .btn-default:focus,
.btn-default.focus,
[data-theme="claudiontheme"] .btn-default:active,
.btn-default.active {
  background-color: var(--first-color) !important;
  color: var(--main-color) !important;
}

[data-theme="claudiontheme"] .btn-secondary {
  background-color: var(--main-color);
  color: var(--second-color);
}

[data-theme="claudiontheme"] .btn-secondary:hover {
  background-color: var(--third-color);
  color: var(--sixth-color);
}

/* Other Components */
[data-theme="claudiontheme"] #page-Workspaces .page-head {
  background: var(--third-color);
}

[data-theme="claudiontheme"] .form-stats svg.es-icon.icon-sm,
[data-theme="claudiontheme"] .form-stats svg.es-icon.icon-sm use,
[data-theme="claudiontheme"] .like-count,
[data-theme="claudiontheme"] .comments-count,
[data-theme="claudiontheme"] .form-follow {
  color: var(--main-color);
  fill: var(--main-color);
}

[data-theme="claudiontheme"] a.comments:hover svg.es-icon.icon-sm,
[data-theme="claudiontheme"] a.comments:hover svg.es-icon.icon-sm use,
[data-theme="claudiontheme"] a.comments:hover .comments-count {
  fill: var(--main-color);
  color: var(--main-color);
}

/* [data-theme="claudiontheme2"] .indicator-pill {
  background-color: var(--main-color);
  color: var(--second-color);
} */
