[data-theme="peachgrey"] {
  --background-color: #545f69;
  --primary-color: #ffa00a;
  --secondary-color: #7574ff;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #c9c8c8;
  --scroll-bg: #cfcece;
  --scroll-color: #ffffff;
  --text-base: 1rem;
  --border-color: #cfcece;
  --bg-color: #d4d0d0;
  --navbar-bg: var(--background-color);
  --modal-bg: #2c436b;
  --control-bg: var(--scroll-bg);
  --form-control-bg: var(--bg-color);
  --highlight-color: rgba(255, 120, 10, 0.93);
  --btn-primary-bg: var(--primary-color);
  --btn-primary-hover-bg: rgba(255, 120, 10, 0.93);
  --disabled-control-bg: var(--gray-color);
  --card-bg: #ffdba0;
  --heading-color: var(--primary-color);
  --page-head-height: 50px;
  --navbar-height: 50px;

  --control-bg-on-pink: #ffdba0;
  --fg-hover-color: var(--bg-color);
}

[data-theme="peachgrey"] *::-webkit-scrollbar {
  width: 6px;
}
[data-theme="peachgrey"] *::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}
[data-theme="peachgrey"] *::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 20px;
}
[data-theme="peachgrey"] * {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--scroll-bg);
}

[data-theme="peachgrey"] .awesomplete .input-with-feedback,
[data-theme="peachgrey"] .form-control,
[data-theme="peachgrey"] .comment-box .comment-input-container .ql-editor,
[data-theme="peachgrey"] .duration-picker .duration-input {
  border: 1px solid var(--border-color);
  background-color: var(--form-control-bg);
}

[data-theme="peachgrey"] .search-bar .awesomplete input {
  background-color: var(--control-bg);
}

[data-theme="peachgrey"] .modal-backdrop {
  background-color: var(--modal-bg) !important;
}

[data-theme="peachgrey"] .btn-primary {
  background-color: var(--btn-primary-bg) !important;
  color: #fff !important;
  border-radius: 0 !important;
}
[data-theme="peachgrey"] .btn-primary:hover {
  background-color: var(--btn-primary-hover-bg) !important;
}

[data-theme="peachgrey"] .page-head,
[data-theme="peachgrey"] .page-head .page-head-content {
  height: var(--page-head-height);
  top: var(--page-head-height);
}

[data-theme="peachgrey"] .navbar {
  background: var(--navbar-bg) !important;
  height: var(--navbar-height);
}

[data-theme="peachgrey"] .navbar-expand {
  background-color: var(--navbar-bg);
}

[data-theme="peachgrey"] #navbar-breadcrumbs > li > a::before {
  content: "\f105";
  color: var(--white-color);
}

[data-theme="peachgrey"] header .form-control {
  color: var(--white-color);
  background-color: var(--white-color) !important;
}

[data-theme="peachgrey"] .form-grid {
  border: 1px solid var(--border-color);
}
[data-theme="peachgrey"] .form-grid .grid-heading-row {
  background-color: #f4f4f4;
  border-bottom: 1px solid var(--primary-color);
}
[data-theme="peachgrey"] .form-grid .grid-row:hover {
  background: rgba(255, 152, 0, 0.15);
}

[data-theme="peachgrey"] .head-title,
.form-section .section-head,
.form-dashboard-section .section-head,
.comment-box .comment-input-header {
  color: var(--heading-color);
  font-size: var(--text-base);
  font-weight: 600;
}

[data-theme="peachgrey"] .list-subject a {
  transition: 0.3s;
}
[data-theme="peachgrey"] .list-subject a:hover {
  color: var(--secondary-color);
}
